html {box-sizing: border-box;} 
 
*, *:before, *:after {box-sizing: inherit;}  


*{
    margin: 0;
    padding: 0;
    text-align: center;
    /* color: #ebd2d2; */
    border-radius: 10px;
}

footer{
    background-color:  #125c99;
    padding: 20px 0;
   
   
    font-family: 'Times New Roman', Times, serif;
    color: #dd7e7e;
}

nav{
    background-color:#125c99;
   
    color: #ebd2d2;
    text-align: left;
    font-size: 20px;
    
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    border-radius: 10px 100px;

span{
   
    position: relative;
}
    
}
b{
    position: absolute;
   
    left: 98px;
    background-color: #e26060;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
    height: 20px;
    margin-top: 2px;
    
}
.intro{
    border: 10px solid  #d8cbcb80;
    margin-bottom: 50px;
    border-radius: 10px 100px;
}

nav >a{
    display: inline-block;
    color: #ebd2d2;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;

}
span >a{
    display: inline-block;
    color: #ebd2d2;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;

}

nav >a:hover ,:focus{
    background-color: #5fc988;
    outline: none;
    border-radius: 10px 100px;
    transition: all 0.7s;
}


img{
    padding: 30px 0;
    margin: 20px 0;
}



.parent{
    width: 65%;
    float: right;
   
    
   
}


.baba{
    display: flex;
    justify-content: center;
}

main {
  
    background: #dbd4d480;
}

.side-title{
    text-align: start;
    border: 5px;
    margin: 5px;
    margin-top: 30px;
    margin-left: 10px;
   
    color: #dd7e7e;
    
}
.ex_img{
    border: 5px;
    margin: 5px;
    width: 90%;
   

}
.ex_parg{
    line-height: 1.9;
    font-size: 20px;
    padding-top: 20px;
    margin: 0 20px;
    
    text-align: start;
}
 


.define{
    padding: 5px 0;
    
    background-color: rgb(119, 197, 197);
    color: #1b1b1b;
    margin: 5px 0;
    

} 


.parg{
    height: 40%;
   
    margin: 5px;
    line-height: 1.9;
    font-size: 15px;
   
    text-align: start;
}
.title{
    color: #dd7e7e;
    padding: 5px;
    padding-top: 20px;
    margin: 5px;
    
  
    

}
span{
    word-break: break-all;
}







.side{
    background: #dfcbcb80;
    
    width: 34%;
    float: left;
    margin-right:  1px;
    padding: 5px;
   
   
  
}

footer{
    margin-top: 10px;
}
